<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.min.css">

    <style>
        #app {
            background-color: #CFD8DC;
        }
    </style>
</head>
<title>CRUD CON VUE</title>
</head>

<body>

    <div id="app">
        <v-app>
            <v-main>
                <v-card class="mx-auto-mt-5" color="transparent" max-width="1280" elevation="0">
                    <v-btn class="mx-2" fab dark color="#e040fb" @click="formNuevo()">
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                    <v-simple-table class="mt-5">
                        <template v-slot:default>
                            <thead>
                                <tr class="purple darken-2">
                                    <th class="white--text">ID</th>
                                    <th class="white--text">DESCRIPCION</th>
                                    <th class="white--text">PRECIO</th>
                                    <th class="white--text">STOCK</th>
                                    <th class="white--text">ACCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="articulo in articulos" :key="articulo.id">
                                    <td>{{articulo.id}}</td>
                                    <td>{{articulo.descripcion}}</td>
                                    <td>{{articulo.precio}}</td>
                                    <td>{{articulo.stock}}</td>
                                    <td>
                                        <v-btn class="pink" dark small fab
                                            @click="formEditar(articulo.id, articulo.descripcion, articulo.precio, articulo.stock)">
                                            <v-icon>mdi-pencil</v-icon>
                                        </v-btn>
                                        <v-btn class="error" dark small fab @click="borrar(articulo.id)">
                                            <v-icon>mdi-delete</v-icon>
                                        </v-btn>
                                    </td>
                                </tr>
                            </tbody>
                        </template>
                    </v-simple-table>
                </v-card>
                <!-- Componente de diálogo para CREAR y formEditar -->
                <v-dialog v-model="dialog" max-width="500">
                    <v-card>
                        <v-card-title class="purple darken-4 white--text">Artículos</v-card-title>
                        <v-card-text>
                            <v-form>
                                <v-container>
                                    <v-row>
                                        <input v-model="articulo.id" hidden></input>
                                        <v-col cols="12" md="4">
                                            <v-text-field v-model="articulo.descripcion" label="Descripción" solo
                                                required>
                                                {{articulo.descripcion}}
                                            </v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="4">
                                            <v-text-field v-model="articulo.precio" type="number" prefix="$"
                                                label="Precio" solo required>
                                                {{articulo.precio}}
                                            </v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="4">
                                            <v-text-field v-model="articulo.stock" label="Stock" type="number" solo
                                                required>
                                                {{articulo.stock}}
                                            </v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn @click="dialog=false" color="blue-grey" dark>Cancelar</v-btn>
                            <v-btn @click="guardar()" type="submit" color="purple accent-3" dark>Guardar</v-btn>
                        </v-card-actions>
                        </v-form>
                    </v-card>
                </v-dialog>
            </v-main>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js"
        integrity="sha512-nqIFZC8560+CqHgXKez61MI0f9XSTKLkm0zFVm/99Wt0jSTZ7yeeYwbzyl0SGn/s8Mulbdw+ScCG41hmO2+FKw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.all.min.js"></script>

    <script>
        // api creada con laravel 8
        let uri = 'http://localhost:8000/api/articulos/';

        new Vue({
            el: "#app",
            vuetify: new Vuetify(),
            data() {
                return {
                    articulos: [],
                    dialog: false,
                    operacion: '',
                    articulo: {
                        id: null,
                        descripcion: '',
                        precio: '',
                        stock: ''
                    }
                }
            },
            created() {
                this.mostrar()
            },
            methods: {
                // métodos para el CRUD
                mostrar() {
                    axios.get(uri).then(response => {
                        this.articulos = response.data;
                    });
                },
                crear() {
                    let parametros = { descripcion: this.articulo.descripcion, precio: this.articulo.precio, stock: this.articulo.stock }
                    axios.post(uri, parametros).then(response => {
                        this.mostrar();
                    });
                    this.articulo.descripcion = '';
                    this.articulo.precio = '';
                    this.articulo.stock = '';
                },
                editar() {
                    let parametros = { descripcion: this.articulo.descripcion, precio: this.articulo.precio, stock: this.articulo.stock, id: this.articulo.id }
                    axios.put(uri + this.articulo.id, parametros).then(response => {
                        this.mostrar();
                    })
                        .catch(error => {
                            console.log(error);
                        });
                },
                borrar(id) {
                    Swal.fire({
                        title: '¿Confirma la eliminación del registro?',
                        confirmButtonText: 'Confirmar',
                        showCancelButton: true
                    }).then((result) => {
                        if (result.isConfirmed) {
                            axios.delete(uri + id).then(response => {
                                this.mostrar();
                            });
                            Swal.fire('Eliminado', '', 'success')
                        } else if (result.idDenied) { }
                    });
                },
                //botón guardar y formulario
                guardar() {
                    if (this.operacion == 'crear') {
                        this.crear();
                    }
                    if (this.operacion == 'editar') {
                        this.editar();
                    }
                    this.dialog = false;
                },
                formNuevo() {
                    this.dialog = true;
                    this.operacion = 'crear';
                    this.operacion.descripcion = '';
                    this.operacion.precio = '';
                    this.operacion.stock = '';
                },
                formEditar(id, descripcion, precio, stock) {
                    this.articulo.id = id;
                    this.articulo.descripcion = descripcion;
                    this.articulo.precio = precio;
                    this.articulo.stock = stock;
                    this.dialog = true;
                    this.operacion = 'editar';
                }
            }
        })
    </script>
</body>

</html>